.bg-link {
  background-color: #008b69 !important;
}

#aboutMe-image {
  border-radius: 50%;
}

@media only screen and (min-width: 700px) {
  .dunnsImg {
    width: 637px !important;
    height: 350px !important;
  }
  .about-me {
    width: 325px !important;
  }
}

@media only screen and (max-width: 650px) {
  .about-me {
    width: 255px !important;
  }
  .dunnsImg {
    width: 230px !important;
    /* height: 350px !important; */
  }
}

.myContainer {
  position: relative;
  -webkit-animation-name: comeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: comeIn;
  animation-duration: 0.5s;
}

@keyframes comeIn {
  0% {
    left: -20px;
    opacity: 0;
  }

  100% {
    left: 0px;
  }
}
