.bg-link {
  background-color: #008b69 !important;
}

#aboutMe-image {
  border-radius: 50%;
}

@media only screen and (min-width: 800px) {
  .dunnsImg {
    width: 637px !important;
    height: 350px !important;
  }
}

/* @media only screen and (min-width: 600px) and (max-width: 1080px) {
  .dunnsImg {
    width: 750px !important;
    height: 350px !important;
  }
} */

.myContainer {
  position: relative;
  -webkit-animation-name: comeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: comeIn;
  animation-duration: 0.5s;
}

@keyframes comeIn {
  0% {
    left: -20px;
    opacity: 0;
  }

  100% {
    left: 0px;
  }
}
